<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Inicio</title>
    <link rel="stylesheet" href="../../dist/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
</head>
<body>
    <header class="header-screen__who">
      <h1 class="title">
        Quienes somos
      </h1>
      <div class="logo">
        <img
            src="https://svgur.com/i/Uqp.svg"
            alt="tree"
            class="im-tree"
          />
      </div>
      <nav class="menu">
       <div class="drop-down__items">
         <input type="checkbox" class="drop-down__menu" id="menu" />
          <label for="menu" class="menu-label">
            <em class="fas fa-recycle reciclaje"></em>
            <em class="fas fa-bars bars"></i>
          </label>
          <div class="items">
              <a href="#" class="links"> Inicio </a>
              <a href="#" class="links"> Quienes somos </a>
              <a href="#" class="links"> !Haz parte! </a>
              <a href="#" class="links"> ¿Por qué hacer parte? </a>
              <a href="#" class="links"> Conoce nuestro blog </a>
              <a href="#" class="links"> Iniciar sesión </a>
          </div>
          </div>
        </nav>
    </header>
    <section class="description-main">
      <h2 class="title">
        Amècity
      </h2>
      <h3 class="subtitle">
        Origen
      </h3>
      <p class="description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia possimus similique quis vel
        fugit minima eligendi, quam, natus aliquid earum tempora ex, repudiandae ut reiciendis explicabo voluptate voluptas delectus.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia possimus similique quis vel
        fugit minima eligendi, quam, natus aliquid earum tempora ex, repudiandae ut reiciendis explicabo voluptate voluptas delectus.
      </p>
      <h3 class="subtitle">
        Misiòn
      </h3>
      <p class="description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia possimus similique quis vel
        fugit minima eligendi, quam, natus aliquid earum tempora ex, repudiandae ut reiciendis explicabo voluptate voluptas delectus.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia possimus similique quis vel
        fugit minima eligendi, quam, natus aliquid earum tempora ex, repudiandae ut reiciendis explicabo voluptate voluptas delectus.
      </p>
      <h3 class="subtitle">
        Visiòn
      </h3>
      <p class="description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia possimus similique quis vel
        fugit minima eligendi, quam, natus aliquid earum tempora ex, repudiandae ut reiciendis explicabo voluptate voluptas delectus.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia possimus similique quis vel
        fugit minima eligendi, quam, natus aliquid earum tempora ex, repudiandae ut reiciendis explicabo voluptate voluptas delectus.
      </p>
      <h3 class="subtitle">
        Miembros
      </h3>
    </section>
    <footer class="footer-screen__who">
      <h2 class=title>Redes</h2>
      <p class="description-footer">Políticas de privacidad de tratamiento de datos personales</p>
      <h3 class="subtitle">Amécity</h3>
      <p class="city-year"> Colombia-2021[C]</p>
    </footer>
