
    <!-- Head blog -->
    <section>
        <div class="introBlog">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia possimus similique quis vel
                fugit
                minima eligendi, quam, natus aliquid earum tempora ex, repudiandae ut reiciendis explicabo voluptate
                voluptas delectus.
            </p>
        </div>
        <div class="containDrop">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filtrar
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Opcion1</a>
                    <a class="dropdown-item" href="#">Opcion2</a>
                    <a class="dropdown-item" href="#">Opcion3</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ordenar
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">OpcionA</a>
                    <a class="dropdown-item" href="#">OpcionB</a>
                    <a class="dropdown-item" href="#">OpcionC</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Noticias blog -->
    <section>
        <div class="containerNews">
            <div class="news">
                <img src="https://via.placeholder.com/50" class="imageNews" alt="">
                <p>tendras que Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non minima doloribus eos quasi
                    obcaecati quae quas optio veniam sequi illum. Architecto, dolores quae facere porro voluptas odio
                    minima
                    fugiat culpa.</p>
            </div>

            <div class="news">
                <img src="https://via.placeholder.com/50" class="imageNews" alt="">
                <p>tendras que Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio itaque tempore
                    dolorum,
                    eos dolor, est error soluta assumenda, accusamus similique explicabo hic ipsam possimus deserunt
                    porro
                    ex nesciunt perferendis adipisci?</p>
            </div>

            <div class="news">
                <img src="https://via.placeholder.com/50" class="imageNews" alt="">
                <p>tendras que Lorem ipsum, dolor sit amet adipisicing elit.
                    Et
                    eum deserunt nesciunt quo
                    voluptatibus maxime tempora dolore quibusdam sint odit quae sequi harum voluptates, laboriosam,
                    corporis
                    enim dolores cumque vitae.</p>
            </div>

            <div class="news">
                <img src="https://via.placeholder.com/50" class="imageNews" alt="">
                <p>tendras que Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non minima doloribus eos quasi
                    obcaecati quae quas optio veniam sequi illum. Architecto, dolores quae facere porro voluptas odio
                    minima
                    fugiat culpa.</p>
            </div>

            <div class="news">
                <img src="https://via.placeholder.com/50" class="imageNews" alt="">
                <p>tendras que Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio itaque tempore
                    dolorum,
                    eos dolor, est error soluta assumenda, accusamus similique explicabo hic ipsam possimus deserunt
                    porro
                    ex nesciunt perferendis adipisci?</p>
            </div>

            <div class="news">
                <img src="https://via.placeholder.com/50" class="imageNews" alt="">
                <p>tendras que Lorem ipsum, dolor sit amet adipisicing elit.
                    Et
                    eum deserunt nesciunt quo
                    voluptatibus maxime tempora dolore quibusdam sint odit quae sequi harum voluptates, laboriosam,
                    corporis
                    enim dolores cumque vitae.</p>
            </div>

            <div class="news">
                <img src="https://via.placeholder.com/50" class="imageNews" alt="">
                <p>tendras que Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non minima doloribus eos quasi
                    obcaecati quae quas optio veniam sequi illum. Architecto, dolores quae facere porro voluptas odio
                    minima
                    fugiat culpa.</p>
            </div>

            <div class="news">
                <img src="https://via.placeholder.com/50" class="imageNews" alt="">
                <p>tendras que Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio itaque tempore
                    dolorum,
                    eos dolor, est error soluta assumenda, accusamus similique explicabo hic ipsam possimus deserunt
                    porro
                    ex nesciunt perferendis adipisci?</p>
            </div>

            <div class="news">
                <img src="https://via.placeholder.com/50" class="imageNews" alt="">
                <p>tendras que Lorem ipsum, dolor sit amet adipisicing elit.
                    Et
                    eum deserunt nesciunt quo
                    voluptatibus maxime tempora dolore quibusdam sint odit quae sequi harum voluptates, laboriosam,
                    corporis
                    enim dolores cumque vitae.</p>
            </div>
        </div>
    </section>
