<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ropa+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../dist/styles/styles.css">
    <title>Document</title>
</head>
<section>
    <h2 class="blogspot-title">CONOCE NUESTRO BLOG</h2>
    <div class="card-containers">
        <div class="card-containers__news card-containers__news--none">
            <h3 class="card-containers__title">Titulo Entrada</h3>
            <a class="card-containers__read-more" href="#">Seguir leyendo...</a>
        </div>

        <div class="card-containers__news">
            <h3 class="card-containers__title">Titulo Entrada</h3>
            <a class="card-containers__read-more" href="#">Seguir leyendo...</a>
        </div>  

        <div class="card-containers__news card-containers__news--none">
            <h3 class="card-containers__title">Titulo Entrada</h3>
            <a class="card-containers__read-more" href="#">Seguir leyendo...</a>
        </div>
    </div>

    <div class="button-container">
        <a href="../layout/blog-static.html"><button>VER MÁS</button></a>
    </div>
</section>
</html>