<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/sass/styles.css">
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous"
    />
    <title>Footer App</title>
</head>
<body>
    <footer class="footer-app">
        <div class="footer-app__content">
          <div class="container-icons">
            <a href=#perfil class="link-footer__icon profile"><em class="fas fa-user-alt icon-footer"></em><span class="description-footer__app profile">PERFIL</span></a>
            <a href="" class="link-footer__icon challenges"><em class="fas fa-bars icon-footer"></em><span class="description-footer__app challenges">RETOS</span></a>
            <a href="" class="link-footer__icon points"><em class="fas fa-trophy icon-footer"></em><span class="description-footer__app points">PUNTOS</span></a>
            <a href="" class="link-footer__icon supplier"><em class="fas fa-users icon-footer"></em><span class="description-footer__app supplier">PROVEEDORES</span> </a>
          </div>
        </div>
    </footer>
</body>
</html>
