<section class="container-slider__app">
    <div id="mainCarouselContainer">
    
    </div>
</section>
<section class="join-app">
    <h2 class="title" id="becomePart">¡HAZ PARTE!</h2>
    <section class="cards-join">
        <section class="container card-player">
            <section class="card  border-0">
                <section class="front">
                    <h3 class="subtitle">COMO JUGADOR</h3>
                    <em class="fas fa-hand-holding-heart hand"></em>
                </section>
                <section class="behind">
                    <p class="description">Como jugador podrás Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </section>
            </section>
            <a href="#" role="button" id="signUpBtn" class="create-button">CREA TU CUENTA</a>
        </section>
        <section class="container ally-card">
            <section class="card border-0">
                <section class="front">
                    <h3 class="subtitle">COMO ALIADO</h3>
                    <em class="fas fa-hand-holding-heart hand"></em>
                </section>
                <section class="behind">
                    <p class="description">Como aliado podrás Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </section>
            </section>
            <a href="#" role="button" class="create-button">VINCULA TU MARCA</a>
        </section>
        <section class="container supplier-card">
            <section class="card border-0">
                <section class="front">
                    <h3 class="subtitle">COMO PROVEEDOR</h3>
                    <em class="fas fa-hand-holding-heart hand"></em>
                </section>
                <section class="behind">
                    <p class="description">
                        Como proveedor podrás Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia
                        possimus
                        similique quis vel
                    </p>
                </section>
            </section>
            <a href="#" role="button" class="create-button">VINCULA TU MARCA</a>
        </section>
    </section>
</section>
<section class="because-join">
    <h2 class="title" id="WhyJoinUs">¿POR QUÉ HACER PARTE?</h2>
    <div id="becauseJoinContainer">
    
    </div>
    <!-- 
    <ul class="slider">
        <li id="slide-environmental" class="impact-environmental">
            <p class="description">IMPACTO</p>
            <p class="description-who">Reducción de emisiones contaminantes.</p>
        </li>
        <li id="slide-social" class="impact-social">
            <p class="description">IMPACTO</p>
            <p class="description-who">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia possimus
                similique quis vel</p>
        </li>
        <li id="slide-half" class="impact-half">
            <p class="description">IMPACTO</p>
            <p class="description-who">Reducción de emisiones contaminantes.</p>
        </li>
        <li id="slide-global" class="impact-global">
            <p class="description">IMPACTO</p>
            <p class="description-who">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia possimus
                similique quis vel</p>
        </li>
    </ul>
    <ul class="menu">
        <li class="container">
            <a class="container-environmental" href="#slide-environmental"></a>
        </li>
        <li class="container">
            <a class="container-social" href="#slide-social"></a>
        </li>
        <li class="container">
            <a class="container-half" href="#slide-half"></a>
        </li>
        <li class="container">
            <a class="container-global" href="#slide-global"></a>
        </li>
    </ul> -->
</section>

<section class="pb-5">
    <h2 class="blogspot-title" id="blog">CONOCE NUESTRO BLOG</h2>
    <div class="card-containers">
        <div class="card-containers__news card-containers__news--none">
            <h3 class="card-containers__title">Titulo Entrada</h3>
            <a class="card-containers__read-more" href="#">Seguir leyendo...</a>
        </div>

        <div class="card-containers__news">
            <h3 class="card-containers__title">Titulo Entrada</h3>
            <a class="card-containers__read-more" href="#">Seguir leyendo...</a>
        </div>

        <div class="card-containers__news card-containers__news--none">
            <h3 class="card-containers__title">Titulo Entrada</h3>
            <a class="card-containers__read-more" href="#">Seguir leyendo...</a>
        </div>
    </div>

    <div class="button-container">
        <a href="./pages/blog.html"><button>VER MÁS</button></a>
    </div>
</section>