<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Home app</title>
    <link rel="stylesheet" href="../../dist/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
</head>
<body>
    <header class="header-home__screen-app">
        <div class="logo">
          <img
            src="../img/arbol.png"
            alt="arbol"
            class="im-tree"
          />
        </div>
        <h1 class="title">
            Amécity
        </h1>
        <nav class="menu">
          <div class="drop-down__items">
            <input type="checkbox" class="drop-down__menu" id="menu" />
            <label for="menu" class="menu-label">
              <em class="fas fa-recycle reciclaje"></em>
              <em class="fas fa-bars bars"></em>
            </label>
            <div class="items">
              <a href="#" class="links"> Inicio </a>
              <a href="#" class="links"> Quienes somos </a>
              <a href="#" class="links"> !Haz parte! </a>
              <a href="#" class="links"> ¿Por qué hacer parte? </a>
              <a href="#" class="links"> Conoce nuestro blog </a>
              <a href="#" class="links"> Iniciar sesión </a>
            </div>
          </div>
        </nav>
    </header>
    <section class="container-slider__app">
        <ul class="slider">
            <li id="slide-who" class="about-us">
                <p class="description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia possimus similique quis vel
                
                </p>
                <p class="description-who">
                    ¿QUIÈNES SOMOS?
                </p>
            </li>
            <li id="slide-supplier" class="see-supplier">
                <p class="description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia possimus similique quis vel
                
                </p>
                <p class="description-who">
                    VER PROVEEDORES
                </p>
            </li>
            <li id="slide-ally" class="see-ally">
                <p class="description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia possimus similique quis vel
               
                </p>
                <p class="description-who">
                    VER ALIADOS
                </p>
            </li>
            <li id="slide-blog" class="see-blog">
                <p class="description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia possimus similique quis vel
                
                </p>
                <p class="description-who">
                    VER BLOG
                </p>
            </li>
        </ul>
        <ul class="menu">
            <li class="container">
                <a class="container-who" href="#slide-who"></a>
            </li>
            <li class="container">
                <a class="container-supplier" href="#slide-supplier"></a>
            </li>
            <li class="container">
                <a class="container-ally" href="#slide-ally"></a>
            </li>
            <li class="container">
                <a class="container-blog" href="#slide-blog"></a>
            </li>
        </ul>

    </section>
    <section class="join-app">
        <h2 class="title">
            ¡HAZ PARTE!
        </h2>
        <section class="cards-join">
            <section class="container card-player">
                <section class="card">
                    <section class="front">
                        <h3 class="subtitle"> 
                            COMO JUGADOR
                        </h3>
                        <em class="fas fa-hand-holding-heart hand"></em>
                        <a href="#" role="button" class="create-button">CREA TU CUENTA</a>
                    </section>
                    <section class="behind"> 
                        <p class="description">
                            Como jugador podras 
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </section>
                </section>
    
            </section>
            <section class="container ally-card">
                <section class="card ">
                    <section class="front">
                        <h3 class="subtitle"> 
                            COMO ALIADO
                        </h3>
                        <em class="fas fa-hand-holding-heart hand"></em>
                        <a href="#" role="button" class="create-button">VINCULA TU MARCA</a>
                    </section>
                    <section class="behind"> 
                        <p class="description">
                            Como aliado podras 
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        </p>
                    </section>
                </section>
    
            </section>
            <section class="container supplier-card">
                <section class="card ">
                    <section class="front">
                        <h3 class="subtitle"> 
                            COMO PROVEEDOR
                        </h3>
                        <em class="fas fa-hand-holding-heart hand"></em>
                        <a href="#" role="button" class="create-button">VINCULA TU MARCA</a>
                    </section>
                    <section class="behind"> 
                        <p class="description">
                            Como proveedor podras 
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia possimus similique quis vel
                        </p>
                    </section>
                </section>
            </section>
        </section>

    </section>
    <section class="because-join">
        <h2 class="title">¿POR QUÈ HACER PARTE?</h2>
        <ul class="slider">
            <li id="slide-environmental" class="impact-environmental">
                <p class="description">
                    IMPACTO
                </p>
                <p class="description-who">
                    Reducciòn de emisiones contaminantes.
                </p>
            </li>
            <li id="slide-social" class="impact-social">
                <p class="description">
                   IMPACTO
                </p>
                <p class="description-who">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia possimus similique quis vel
                
                </p>
            </li>
            <li id="slide-half" class="impact-half">
                <p class="description">
                    IMPACTO
                </p>
                <p class="description-who">
                    Reducciòn de emisiones contaminantes.
                </p>
            </li>
            <li id="slide-global" class="impact-global">
                <p class="description">
                    IMPACTO
                </p>
                <p class="description-who">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia possimus similique quis vel
                
                </p>
            </li>
        </ul>
        <ul class="menu">
            <li class="container">
                <a class="container-environmental" href="#slide-environmental"></a>
            </li>
            <li class="container">
                <a class="container-social" href="#slide-social"></a>
            </li>
            <li class="container">
                <a class="container-half" href="#slide-half"></a>
            </li>
            <li class="container">
                <a class="container-global" href="#slide-global"></a>
            </li>
        </ul>

    </section>
</body>
</html>