<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ui/dist/styles/styles.min.css">
    <title>Document</title>
</head>

<body>
    <div class="Overlay" id="Overlay">
        <div class="Pop-Up" id="Pop-Up">          
            <div class="cabecera">
                <a href="" class="Cerrar-PopUp" id="Cerrar-PopUp"> x </a>
                <h1>!Haz Parte¡</h1>
                <h2>Como jugador podrás...</h2>
            </div>
            <div>
                <div class="cuerpo">
                    <div><input type="text" value="Nombre"></div>
                    <div><input type="text" value="Correo"></div>
                    <div><input type="text" value="Usuario"></div>
                    <div><input type="text" value="Contraseña"></div>
                </div>
                <div class="check">
                    <label><input type="checkbox">Mayoria de edad / Permiso de adulto responsable</label>
                    <label><input type="checkbox">Acepto los terminos y condiciones</label>
                </div>
                <div class="botones">
                    <button> Crear cuenta </button>
                    <h4>o</h4>
                    <button>Accede con Google</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>