<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selected ally screen</title>
    <link rel="stylesheet" href="/dist/styles.css">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <div class="selected-ally">
        <a href="" class="close-Pop__Up" id="close-Pop__Up"> x </a>
        <div class="img-ally__selected">
            <div class="content-img__ally-selected"> 
                <p class="description-img__ally-selected">
                    Imagen del aliado
                </p>
            </div>
        </div>
        <div class="description-ally">
            <h2 class="name-ally">
                Nombre del aliado
            </h2>
            <p class="container-description__ally">
                Què ofrece lorem ipsum dolor sit amet,consectetur adipiscing elit, Lorem ipsum dolor sit amet.
            </p>
            <h2 class="points-ally">
                XXX
            </h2>
            <h3 class="number-points__ally">
                Puntos
            </h3>
        </div>

    </div>
    
</body>
</html>