<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/styles/styles.css" >
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous"
    />
    <title>screen edit your profile</title>
</head>
<body >
  <div class="screen-edit__your-profile">
    <h2 class="user-name">Usuario X</h2>
  <div class="container-img__pencil-edit">
    <div class="container-img__user">
    <i class="fas fa-user img-user"></i>
    </div>
    <button class="edit-img__button" type="button"><i class="fas fa-pencil-alt"></i></button>
  </div>
  <div class="container-section">
    <div class="container-info__profile">
      <h3 class="sub-title__info-profile">Informaciòn personal</h3>
      <button class="edit-profile__button" type="button"><i class="fas fa-pencil-alt"></i></button>
    </div>
    <h4 class="content-profile">Nombre</h4>
    <h4 class="content-profile">Correo</h4>
    <h4 class="content-profile">¿?</h4>
  </div>
  <div class="container-section">
    <div class="container-setting__profile">
      <h3 class="sub-title__setting-profile">Configuraciòn</h3>
      <button class="edit-setting__button" type="button"><i class="fas fa-pencil-alt"></i></button>
    </div>
    <h4 class="content-profile__setting">Enfoque</h4>
    <h4 class="content-profile__setting">No se que mas</h4>
  </div>
  <button class="save-changes__button" type="submit">Guardar cambios</button>
  <button class="delete-account__button" type="button">Eliminar cuenta</button>
  </div>
</body>
</html>
