<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ropa+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../../dist/styles/styles.css">
    <title>Document</title>
</head>

<body>
    <section class="profile">
        <div class="first-column">
            <div class="profile-start">
                <img src="https://cdn.pixabay.com/photo/2014/12/16/22/25/sunset-570881_960_720.jpg" alt="img-profile">
                <h2 class="profile-start__title">Bienvenido fulanito</h2>
            </div>
            <div class="profile-icons">
                <i class="fas fa-tint"></i>
                <p class="profile-icons__p">Puntos</p>
                <i class="fas fa-seedling"></i>
                <p class="profile-icons__p">XXXXXX</p>                            
            </div>
        </div>

        <div class="second-column">
            <div class="summary">
                <h3 class="summary__title">Resumen</h3>
                <ul class="summary__ul">
                    <li>Puntos acumulados</li>
                    <li>Reto final</li>
                    <li>Tu enfoque es...</li>
                </ul>
            </div>
            <div class="claim-points">
                <button class="claim-points__btn">Redimir Puntos</button>
            </div>
        </div>

        <div class="third-column">
            <div class="friends">
                <h3 class="friends__title">Amigos</h3>
                <ul class="friends__ul">
                    <i class="fas fa-user"></i>
                    <i class="fas fa-user"></i>
                    <i class="fas fa-user"></i>
                    <i class="fas fa-user"></i>
                    <i class="fas fa-user"></i>
                </ul>
            </div>
            <div class="ranking">
                <h3 class="ranking__title">Ranking</h3>
                <ol class="ranking__ol">
                    <li>XXXXXX</li>
                    <li>XXXXXX</li>
                    <li>You</li>
                    <li>XXXXXX</li>
                </ol>
            </div>
        </div>

    </section>

    <section class="challenges-progress">
        <h2 class="challenges-progress__title">Retos en curso</h2>
        <div class="challenges-containers">
            <div class="challenges">
                <p class="title-challenges">Reto X</p>
                <button class="btnEvidence">Subir la evidencia</button>
            </div>

            <div class="challenges">
                <p class="title-challenges">Reto X</p>
                <button class="btnEvidence">Subir la evidencia</button>
            </div>

            <div class="challenges">
                <p class="title-challenges">Reto X</p>
                <button class="btnEvidence">Subir la evidencia</button>
            </div>

            <div class="challenges">
                <p class="title-challenges">Reto X</p>
                <button class="btnEvidence">Subir la evidencia</button>
            </div>

            <div class="challenges">
                <p class="title-challenges">Reto X</p>
                <button class="btnEvidence">Subir la evidencia</button>
            </div>
        </div>

    </section>

    <section class="challenges-completed">
        <h2 class="challenges-completed__title">Retos completados</h2>
        <div class="challenges-containers">
            <div class="challenges-second">
                <p class="title-challenges">Reto x</p>
                <div class="icons">
                    <i class="fas fa-tint"></i>
                    <i class="fas fa-share-alt"></i>
                </div>
                <button class="btnEvidence--2nd">Ver la evidencia</button>
            </div>

            <div class="challenges-second">
                <p class="title-challenges">Reto x</p>
                <div class="icons">
                    <i class="fas fa-tint"></i>
                    <i class="fas fa-share-alt"></i>
                </div>
                <button class="btnEvidence--2nd">Ver la evidencia</button>
            </div>

            <div class="challenges-second">
                <p class="title-challenges">Reto x</p>
                <div class="icons">
                    <i class="fas fa-tint"></i>
                    <i class="fas fa-share-alt"></i>
                </div>
                <button class="btnEvidence--2nd">Ver la evidencia</button>
            </div>

            <div class="challenges-second">
                <p class="title-challenges">Reto x</p>
                <div class="icons">
                    <i class="fas fa-tint"></i>
                    <i class="fas fa-share-alt"></i>
                </div>
                <button class="btnEvidence--2nd">Ver la evidencia</button>
            </div>

            <div class="challenges-second">
                <p class="title-challenges">Reto x</p>
                <div class="icons">
                    <i class="fas fa-tint"></i>
                    <i class="fas fa-share-alt"></i>
                </div>
                <button class="btnEvidence--2nd">Ver la evidencia</button>
            </div>
        </div>
    </section>

</body>

</html>