// Header

.carouselSlide{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-home__screen-app {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  background: white;
  .logo {
    .im-tree {
      width: 75px;
      height: 74px;
    }
  }
  .title {
    font-size: 4.8rem;
    font-family: $primary-font;
    text-align: center;
  }
  .menu {
    .drop-down__items {
      .drop-down__menu {
        opacity: 0;
        position: absolute;
        visibility: hidden;
      }
      .menu-label {
        .bars {
          font-size: 3.8rem;
          color: $neon-blue;
          margin-top: 20px;
        }
        .reciclaje {
          font-size: 5rem;
          color: $main-green;
          display: none;
          margin-top: 10px;
          margin-left: 10px;
        }
      }
    }
  }
  .items {
    position: absolute;
    background-color: $main-green;
    display: none;
    width: 100%;
    right: 0;
    padding: 10px 0px 0px;
    z-index: 2;
    .links {
      color: $black;
      display: block;
      padding: 10px;
      font-size: 2.4rem;
      font-weight: 400;
      text-align: right;
      border-bottom: solid $black;
      border-bottom-width: 1px;
    }
    .links:last-child {
      color: $white;
      background: $black-blue;
    }
  }
  .drop-down__menu:checked {
    & ~ .menu-label {
      .bars {
        display: none;
      }
      .reciclaje {
        display: block;
      }
    }
    & ~ .items {
      display: block;
    }
  }
  .links:hover {
    color: $white;
  }
  .links:active {
    text-decoration: line-through;
  }
}

#mainContent{
  padding-top: 7rem;
}
//End Header
//Container Slider
.container-slider__app {

  .slider {
    padding: 0;
    position: relative;
    .about-us,
    .see-supplier,
    .see-ally,
    .see-blog {
      width: 100%;
      height: 267px;
      transition: opacity 0.5s;
      .description {
        text-align: left;
        padding: 30px 20px;
        font-size: 1.8rem;
      }
      .description-who {
        text-align: right;
        padding: 0px 20px;
        font-size: 2.4rem;
      }
    }
    .about-us {
      background: $secondary-green;
      opacity: 1;
    }
    .see-supplier {
      background: $light-green;
    }
    .see-ally {
      background: $dark-blue;
    }
    .see-blog {
      background: $light-blue;
    }
  }
  ul.slider li:target {
    opacity: 1;
  }

  .carouselDots{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .menu {
    display: flex;
    padding-bottom: 20px;
    .container {
      display: inline-block;
      .container-who,
      .container-supplier,
      .container-ally,
      .container-blog {
        display: inline-block;
        background: white;
        padding: 10px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
      }
    }
  }
}
// End Container Slider
// Join
.join-app {
  padding-bottom: 50px;
  .title {
    text-align: center;
    padding: 20px;
    font-size: 3.6rem;
  }
  .container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    .card {
      width: 284px;
      height: 287px;
      position: relative;
      transform-style: preserve-3d;
      .front {
        position: absolute;
        background: $light-blue;
        border-radius: 10%;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        .subtitle {
          text-align: center;
          padding: 30px;
          font-size: 2.4rem;
        }
        .hand {
          color: rgb(7, 7, 97);
          font-size: 9rem;
          padding-left: 90px;
          margin-top: 20px;
        }
      }
      .behind {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10%;
        background: $light-blue;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        .description {
          padding: 20px;
          font-size: 2.4rem;
        }
      }
    }
    .card:hover {
      transform: rotateY(180deg);
    }
    .create-button {
      position: absolute;
      background: rgb(7, 7, 97);
      color: $neon-blue;
      font-size: 2.4rem;
      font-weight: 400;
      padding: 15px 25px;
      display: block;
      width: 290px;
      border: none;
      border-radius: 20px;
      margin-top: 250px;
      text-align: center;
      text-decoration: none;
    }
  }
  .ally-card {
    .card {
      .front {
        background: $gray;
        .hand {
          color: green;
        }
      }
      .behind {
        background: $gray;
      }
    }
    .create-button {
      background: rgb(5, 53, 5);
      color: $main-green;
      position: absolute;
      font-size: 2.4rem;
      font-weight: 400;
      padding: 15px 25px;
      display: block;
      width: 290px;
      border: none;
      border-radius: 20px;
      margin-top: 250px;
      text-align: center;
    }
  }
  .supplier-card {
    .card {
      .front {
        background: rgb(164, 203, 221);
        .subtitle {
          padding: 30px 10px;
        }
      }
      .behind {
        background: rgb(164, 203, 221);
      }
    }
    .create-button {
      background: rgb(16, 106, 112);
      color: rgb(134, 195, 206);
      position: absolute;
      font-size: 2.4rem;
      font-weight: 400;
      padding: 15px 25px;
      display: block;
      width: 290px;
      border: none;
      border-radius: 20px;
      margin-top: 250px;
      text-align: center;
    }
  }
}
//End join
// ¿why take part?
.because-join {
  .title {
    font-size: 3.6rem;
    text-align: center;
    padding: 20px;
  }
  .slider {
    padding: 0;
    position: relative;
    .impact-environmental,
    .impact-social,
    .impact-half,
    .impact-global {
      width: 100%;
      height: 267px;
      transition: opacity 0.5s;
      .description {
        text-align: left;
        padding: 30px 20px;
        font-size: 1.8rem;
      }
      .description-who {
        text-align: right;
        padding: 0px 20px;
        font-size: 2.4rem;
      }
    }
    .impact-environmental {
      background: $neon-blue;
      opacity: 1;
    }
    .impact-social {
      background: $dark-blue;
    }
    .impact-half {
      background: $light-blue;
    }
    .impact-global {
      background: $secondary-green;
    }
  }
  ul.slider li:target {
    opacity: 1;
  }

  
  .carouselDots{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .menu {
    display: flex;
    padding-bottom: 20px;

    .container {
      display: inline-block;
      .container-environmental,
      .container-social,
      .container-half,
      .container-global {
        display: inline-block;
        background: white;
        padding: 10px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
      }
    }
  }
}



//End ¿why take part?
@media (min-width: 1024px) {

  #mainContent{
    padding-top: 9.6rem;
  }
  .header-home__screen-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: static;
    z-index: 0;
    .title {
      padding-left: 10px;
    }
    .menu {
      .drop-down__items {
        .menu-label {
          .bars {
            display: none;
          }
          .reciclaje {
            display: none;
          }
        }
      }
    }
    .items {
      display: flex;
      justify-content: flex-end;
      padding: 20px;
      z-index: 2;
      .links {
        display: block;
        font-weight: 400;
        border-bottom: none;
        border-right: solid $black;
        border-right-width: 1px;
        justify-items: right;
      }
      .links:last-child {
        border-radius: 30px;
        padding: 10px 30px;
      }
    }
  } 
 
  .join-app {
    .cards-join {
      display: flex;
      justify-content: space-around;
    }
  }

 
  
}
