// Description Main
.description-main{
    padding: 16px;
    .title{
        margin-top: 50px;
        font-size: 4.8rem;
        text-align: center;
    }
    .subtitle{
        padding: 30px 0px;
        font-size: 2.4rem;
    }
}

.description {
    font-size: 2.4rem;
}

@media(min-width:1024px){
    .description-main{
        margin-top: 100px;
    }
}