//Header-Button__Link-your__brand
.header-button__link-your--brand{
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 0px;
    .title{
        font-weight: 400;
        font-size: 3rem;
        color: $black;
        //font-family: $primary-font;
    }
    .logo-tree{
        .im-tree{
            width: 98px;
            height: 94px;
        }
    }
}
//End Header
//Description Page
.description-pag{
    padding: 0px 120px 0px 16px;
    .description{
        font-size: 1.5rem;
        font-weight: 400;
        font-family: $primary-font;
        color: $black;
        margin-bottom: 20px;
    }
}
//End Description Page
//Suppliers and Allies Form
.form-supplier__ally{
     padding: 0px 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
    .select-participation{
        display: flex;
        .select{
            margin-top: 25px;
        }
        .description{
            font-size: 1.5rem;
            //font-family: $primary-font;
        }
        
    }
    .form-box__supplier{
        padding: 10px;
        height: 41px;
        width: 270px;
        margin-bottom: 10px;
        font-size: 0.75rem;
        font-family: $primary-font;
        background: $gray;
        border: none;
    }
    .form-box__supplier-comentary{
        padding: 10px;
        height: 116px;
        width: 270px;
        font-size: 0.75rem;
        //font-family: $primary-font;
        background: $gray;
        border: none;
    }
    ::placeholder{
        color: $black;
        }
    .checkbox{
        padding: 20px 0px;
        .terms-conditions{
            font-size: 0.75rem;
            //font-family: $primary-font;
        }  
    }
    .send-form{
        width: 270px;
        height: 41px;
        color: $black;
        font-size: 1.12rem;
        //font-family: $primary-font;
        font-weight: 400;
        background: $neon-blue;
        border-radius: 20px;
        border: none;
        margin-bottom: 20px;

    }
}
//End Suppliers and Allies Form
