.screen-edit__your-profile{
    padding: 20px;
    width: 360px;
    height: 816px;
}
.user-name{
    font-size: 36px;
    font-weight: bold;
}
.container-img__pencil-edit{
    display: flex;
    justify-content: center;
    .container-img__user{
        background: rgb(211, 208, 208);
        width: 163px;
        height: 158px;
        border-radius: 100%;
        .img-user{
            font-size: 120px;
            padding: 20px 30px;
            color: rgb(84, 84, 255);
        }
    }
    .edit-img__button{
        width: 25px;
        height: 25px;
        margin-top: 130px;
        background: white;
        border: none;
        .fa-pencil-alt{
            font-size: 20px;
        }
    }
}
.container-section{
    .container-info__profile,.container-setting__profile{
        display: flex;
        .sub-title__info-profile,.sub-title__setting-profile{
            font-size: 24px;
            font-weight: bold;
        }
        .edit-profile__button,.edit-setting__button{
        width: 25px;
        height: 25px;
        margin-top: 25px;
        padding-left: 15px;
        background: white;
        border: none;
            .fa-pencil-alt{
                font-size: 20px;
            }
        }
    }
    .content-profile,.content-profile__setting{
        font-size: 18px;
    }
}
.save-changes__button,.delete-account__button{
    width: 270px;
    height: 41px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    border:none;
}
.save-changes__button{
    background: rgb(68, 180, 255);
    margin: 30px 50px;
}
.delete-account__button{
    background: rgb(211, 208, 208);
    margin-left: 50px;
}
