//inicio Header
.header-home-screen-app{
    display: flex;
    justify-content: space-between;
    padding:16px;
    .logo{
        .im-tree{
         width: 75px;
         height: 74px;
        }
     }
     .title{
         font-size: 3rem;
         font-family: $primary-font;
     }
    .menu{
         .drop-down-items{
             .drop-down-menu{
                 opacity: 0;
                 position: absolute;
                 visibility: hidden;
                }
              .menu-label{
                 .bars{
                     font-size: 2.313rem;
                     color: $neon-blue;
                     margin-top: 20px;
                 }
                 .reciclaje{
                     font-size: 3.125rem;
                     color: $main-green;
                     display: none;
                     margin-top: 10px;
                     margin-left: 10px;
                 }
             }
         }
    }
    .items{
         background-color: $main-green;
         display: none;
         position: absolute;
         width: 100%;
         top: 44px;
         right: 0;
         padding: 10px 0px 0px;
         margin-top: 50px;
         z-index: 2;
        .links{
            color: $black;
            //font-family: $primary-font;
            display: block;
            padding: 10px;
            font-size: 1.5rem;
            font-weight: 400;
            text-align: right;
            border-bottom:solid $black;
            border-bottom-width: 1px;
        }
        .links:last-child{
            color: $white;
            background: $black-blue;
        }
    }    
     .drop-down-menu:checked {  
          &~.menu-label{ 
                .bars{
                    display: none;
                }  
                .reciclaje{
                    display: block;
                }   
          }  
          &~.items{
              display: block;
          }
    } 
    .links:hover{
        color: $white;
    } 
    .links:active{
        text-decoration: line-through;
    }  
}
//Fin Header
//Contenedor Slider
.container-slider-app{
    .slider{  
        position: relative;
        .about-us,.see-Prov,.see-ali,.see-blog{
            width: 100%;
            height: 267px;
            position: absolute;
            opacity: 0;
            transition: opacity .5s;
            .description{
                text-align: left;
                padding: 70px 20px;
                font-size: 1.125rem;
            }
            .description-B{
                text-align: right;
                padding: 0px 20px;
                //font-family: $primary-font;
                font-size: 1.5rem;
            }
        }
        .about-us{
            background: $secondary-green;
            opacity: 1;
        }
        .see-Prov{
            background: $light-green;
        }
        .see-ali{
            background: $dark-blue;
        }
        .see-blog{
            background: $light-blue;
        }
    }
    ul.slider li:target{
        opacity: 1;
    }
    .menu{
        position:absolute;
        margin-left: 40%;;
        .container{
            display: inline-block;
            .container-Q,.container-P,.container-A,.container-B{
                display: inline-block;
                background: white;
                padding: 10px;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                margin-top: 240px;
            }
        }
    }
}
// Fin Contenedor Slider 
// Haz Parte
.join-app{
    margin-top: 300px;
    //font-family: $primary-font;
    .title{
        text-align: center;
        padding: 20px;
        font-size: 2.25rem;
    }
    .container{
        display: flex;        
        justify-content: center;
        .card{
             width: 284px;
             height: 287px;
             position: relative;
             transform-style: preserve-3d;
            .front{
                position: absolute;
                background: $light-blue;
                border-radius: 10%;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                .subtitle{
                    text-align: center;
                    padding: 30px;
                    font-size: 1.5rem;
                }
                .hand{
                    color: rgb(7, 7, 97);
                    font-size: 8rem;
                    padding-left: 90px;
                    margin-top: 20px;
                }
                .create-button{
                    background: rgb(7, 7, 97);
                    color: $neon-blue;
                    font-size: 1.5rem;
                    font-weight: 400;
                    padding: 15px 25px;
                    display: block;
                    width: 100%;
                    border: none;
                    border-radius: 20px;
                    margin-top: 70px;
                    text-align: center;
                }
            }
            .behind{
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 10%;
                background: $light-blue;
                backface-visibility: hidden;
                transform: rotateY(180deg);
                .description{
                    padding: 20px;
                    font-size: 1.5rem;
                }
            }
        }
        .card:hover{
            transform: rotateY(180deg);
        }
    }
    .ally-card{
        margin-top: 150px;
        .card{
            .front{
                background: $gray;
                .hand{
                    color: green;
                }
                .create-button{
                    background: rgb(5, 53, 5);
                    color: $main-green;
                    font-size: 1.375rem;
                }
            }
            .behind{
                background: $gray; 
            }
        }
    }
    .supplier-card{
        margin-top: 150px;
        .card{
            .front{
                background: rgb(164, 203, 221);
                .subtitle{
                    padding: 30px 10px;
                }
                
                .create-button{
                    background: rgb(16, 106, 112);
                    color: rgb(134, 195, 206);
                    font-size: 1.375rem;
                }
            }
            .behind{
                background: rgb(164, 203, 221); 
            }
        }
    }
}
//Fin Haz Parte 
// ¿por que hacer parte?
.p-join{
    margin-top: 100px;
    .title{
        font-size: 2.25rem;
        text-align: center;
        padding: 20px;
    }
    .slider{  
        margin-top: 40px;
        position: relative;
        .impact-Am,.impact-So,.impact-Me,.impact-Glo{
            width: 100%;
            height: 267px;
            position: absolute;
            opacity: 0;
            transition: opacity .5s;
            .description{
                margin-top: 20px;
                text-align: left;
                //font-family: $primary-font;
                font-size: 1.5rem;
                font-weight: 400;
                padding-left: 20px;
            }
            .description-B{
                margin-top: 20px;
                text-align: center;
                //font-family: $primary-font;
                font-size: 2.25rem;
            }
        }
        .impact-Am{
            background: $neon-blue;
            opacity: 1;
        }
        .impact-So{
            background: $dark-blue;
        }
        .impact-Me{
            background: $light-blue;
        }
        .impact-Glo{
            background: $secondary-green;
        }
    }
    ul.slider li:target{
        opacity: 1;
    }
    .menu{
        position:absolute;
        margin-left: 40%;;
        .container{
            display: inline-block;
            .container-Am,.container-So,.container-Me,.container-Glo{
                display: inline-block;
                background: white;
                padding: 10px;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                margin-top: 240px;
            }
        }
    }
}
//Fin ¿por que hacer parte?
@media(min-width:1024px){
    .header-home-screen-app{
        display: flex;
        justify-content: flex-start;
         .title{
             padding-left: 60px;           
         }
        .menu{
             .drop-down-items{
                  .menu-label{
                     .bars{
                         display: none;
                     }
                     .reciclaje{
                         display: none;
                     }
                 }
             }
        }
        .items{
             display: flex;
             justify-content: flex-end;
             padding: 20px;
             margin-top: 70px;
             z-index: 2;
            .links{
                display: block;
                padding: 0px 20px;
                font-weight: 400;
                border-bottom:none;
                border-right: solid $black;
                border-right-width: 1px;
                justify-items: right;
            }
            .links:last-child{
                border-radius: 30px;
                padding: 10px 30px;
            }
        }    
    }
    .container-slider-app{
        margin-top: 150px;
    }
    .join-app{
        margin-top: 450px;
        .cards-join{
            display: flex;
            justify-content: space-between;
            padding: 0px 100px;
            .card-player{
                margin-top: 150px;
            }
        }
    }

}