//Header
.headerPantallaQuienes{
    display: flex;
    justify-content: space-between;
    padding:16px;
    .logo{
        .im-Arbol{
         width: 98px;
         height: 94px;
        }
     }
     .titulo{
         //font-size: 48px;
         font-family: $primary-font;
     }
    .menu{
        padding-left: 16px;
         .itemsDesplegables{
             .menuDesplegable{
                 opacity: 0;
                 position: absolute;
                 visibility: hidden;
                }
              .menuLabel{
                 .bars{
                     font-size: 37px;
                     color: $black-blue;
                     margin-top: 20px;
                 }
                 .reciclaje{
                     font-size: 50px;
                     color: $main-green;
                     display: none;
                     margin-top: 10px;
                     margin-left: 10px;
                 }
             }
         }
    }
    .items{
        background-color: $main-green;
         display: none;
         position: absolute;
         width: 100%;
         top: 44px;
         right: 0;
         padding: 10px 0px 0px;
         margin-top: 90px;
         z-index: 2;
        .links{
            color: $black;
            font-family: $primary-font;
            display: block;
            padding: 10px;
            //font-size: 24px;
            //font-weight: 400;
            text-align: right;
            border-bottom:solid $black;
            border-bottom-width: 1px;
        }
        .links:last-child{
            color: $white;
            background: $black-blue;
        }
    }    
     .menuDesplegable:checked {  
          &~.menuLabel{ 
                .bars{
                    display: none;
                }  
                .reciclaje{
                    display: block;
                }   
          }  
          &~.items{
              display: block;
          }
    } 
    .links:hover{
        color: $white ;
    } 
    .links:active{
        text-decoration: line-through;
    }  
}
//Fin Header
// Descripcion Main
.descripcionMain{
    padding: 16px;
    .titulo{
        margin-top: 50px;
        //font-size: 48px;
        text-align: center;
    }
    .subTitulo{
        padding: 50px 0px;
        //font-size: 24px;
    }
}
//Fin Descripcion Main
//Footer
.footerPantaQuienes{
    background: $black-blue;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $neon-blue;
    .titulo{
        //font-size: 48px;
    }
    .descripcionP{
        //font-size: 18px;
        padding:0px 20px 20px ;
    }
    .subtitulo{
        //font-size: 24px;
        margin: 0;
        padding: 0;
        border: 0;
    }
    .ciudadAño{
        margin: 0;
        padding: 0;
        padding-bottom: 5px;
        border:0;
        //font-size: 14px;
    }
}
//Fin Footer

@media(min-width:1400px){
    .headerPantallaQuienes{
        display: flex;
        justify-content: space-evenly;
         .titulo{
             padding-left: 60px;           
         }
        .menu{
             .itemsDesplegables{
                  .menuLabel{
                     .bars{
                         display: none;
                     }
                     .reciclaje{
                         display: none;
                     }
                 }
             }
        }
        .items{
             display: flex;
             justify-content: flex-end;
             padding: 20px;
             margin-top: 70px;
             z-index: 2;
            .links{
                display: block;
                padding: 0px 20px;
                //font-weight: 400;
                border-bottom:none;
                border-right: solid black;
                border-right-width: 1px;
                justify-items: right;
            }
            .links:last-child{
                color: $white;
                background: $black-blue;
                border-radius: 30px;
                padding: 10px 30px;
            }
        }    
    }
    .descripcionMain{
        margin-top: 100px;
    }
}