//Header
.header-button-link-your-brand{
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 0px;
    .title{
        font-weight: 400;
        font-size: 3rem;
        color: $black;
        //font-family: $primary-font;
    }
    .logo-tree{
        .im-tree{
            width: 98px;
            height: 94px;
        }
    }
}
//Fin Header
//Descripcion Pagina
.description-pag{
    padding: 0px 120px 0px 16px;
    .description{
        font-size: 1.5rem;
        font-weight: 400;
        font-family: $primary-font;
        color: $black;
        margin-bottom: 20px;
    }
}
//Fin Descripcion Pagina
//Formulario Proveedores y Aliados
.form-supplier-ally{
     padding: 0px 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
    .select-participation{
        display: flex;
        .select{
            margin-top: 25px;
        }
        .description{
            font-size: 1.5rem;
            //font-family: $primary-font;
        }
        
    }
    .form-box-supplier{
        padding: 10px;
        height: 41px;
        width: 270px;
        margin-bottom: 10px;
        font-size: 12px;
        font-family: $primary-font;
        background: $gray;
        border: none;
    }
    .form-box-G{
        padding: 10px;
        height: 116px;
        width: 270px;
        font-size: 0.75rem;
        //font-family: $primary-font;
        background: $gray;
        border: none;
    }
    ::placeholder{
        color: $black;
        }
    .checkbox{
        padding: 20px 0px;
        .terms-conditions{
            font-size: 0.75rem;
            //font-family: $primary-font;
        }  
    }
    .send-form{
        width: 270px;
        height: 41px;
        color: $black;
        font-size: 1.125rem;
        //font-family: $primary-font;
        font-weight: 400;
        background: $neon-blue;
        border-radius: 20px;
        border: none;
        margin-bottom: 20px;

    }
}
//Fin Formulario Proveedores y Aliados
//Footer
.footer-button-link-your-brand{
    background: $black-blue;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $neon-blue;
    //font-family: $primary-font;
    .title{
        font-size: 3rem;
    }
    .description-P{
        font-size: 1.125rem;
        padding:0px 20px 20px ;
    }
    .subtitle{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        border: 0;
    }
    .city-year{
        margin: 0;
        padding: 0;
        padding-bottom: 5px;
        border:0;
        font-size: 0.875rem;
    }
}
//Fin Footer