<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../sass/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="selected">
        <a href="" class="Cerrar-PopUp" id="Cerrar-PopUp"> x </a>
        <div class="content">
            <img class="ally-provedor-img" src="http://placehold.jp/150x150.png" alt="imagen del aliado">
            <div>
                <h2>Nombre del aliado - Proveedor</h2>
                <p>Qué ofrece lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet</p>
                <div>
                    <p>XXXX</p>
                    <p>puntos</p>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>