<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ropa+Sans&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../dist/styles/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="challenge">
      <div class="challenge__header">
        <h4 class="challenge__meet-challenge">¡Cumple el reto!</h4>
        <div class="challenge__close-container">
          <div class="challenge__close">X</div>
        </div>
      </div>
      <div class="challenge__body">
        <img class="challenge__image" src="https://www.ecoticias.com/userfiles/2020/May_12/147.jpg" alt="Imagen del retos" />
        <div class="challenge__information">
          <h3 class="challenge__title"></h3>
          <p class="challenge__description">Tendrás que lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet</p>
          <div class="challenge__points-container">
            <p class="challenge__points">XXXX</p>
            <img class="challenge__focus" src="https://i.imgur.com/dLizNeo.png" alt="Enfoque del usuario" />
          </div>
        </div>
      </div>
      <div class="challenge__footer">
        <h6 class="challenge__requirements"></h6>
        <ul class="challenge__requirements-list">
          <li class="challenge__requirement"></li>
          <li class="challenge__requirement"></li>
          <li class="challenge__requirement"></li>
        </ul>
        <div class="challenge__share-container">
          <img class="challenge__share-icon" src="https://i.imgur.com/UYGb0l4.png" alt="Compartir el reto en redes sociales" />
        </div>
      </div>
      <button class="challenge__button">Tomar el reto</button>
    </div>
  </body>
</html>
