<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../dist/styles/styles.css"
    />
    <title>Document</title>
  </head>
  <body>
    <section class="challenges">
      <h1 class="challenges__title">Retos</h1>
      <section class="challenges__categories">
        <h3 class="challenges__categories-title">Categorías</h3>
        <div class="challenges__categories-container">
          <span class="challenges__categories-item">Todos</span>
          <span class="challenges__categories-item">Mares</span>
          <span class="challenges__categories-item">Reciclaje</span>
          <span class="challenges__categories-item">Rios</span>
          <span class="challenges__categories-item">Árboles</span>
          <span class="challenges__categories-item">Carbono</span>
          <span class="challenges__categories-item">Industria</span>
          <span class="challenges__categories-item">Animales</span>
          <span class="challenges__categories-item">Limpieza</span>
        </div>
      </section>
      <section class="challenges__items">
        <h3 class="challenges__items-title">Sugeridos para tí</h3>
        <div class="challenges__items-container">
          <img class="challenges__item" src="https://www.ecoticias.com/userfiles/2020/May_12/147.jpg" alt="Placeholder">
          <img class="challenges__item" src="https://www.ecoticias.com/userfiles/2020/May_12/147.jpg" alt="Placeholder">
          <img class="challenges__item" src="https://www.ecoticias.com/userfiles/2020/May_12/147.jpg" alt="Placeholder">
          <img class="challenges__item" src="https://www.ecoticias.com/userfiles/2020/May_12/147.jpg" alt="Placeholder">
          <img class="challenges__item" src="https://www.ecoticias.com/userfiles/2020/May_12/147.jpg" alt="Placeholder">
          <img class="challenges__item" src="https://www.ecoticias.com/userfiles/2020/May_12/147.jpg" alt="Placeholder">
          <img class="challenges__item" src="https://www.ecoticias.com/userfiles/2020/May_12/147.jpg" alt="Placeholder">
          <img class="challenges__item" src="https://www.ecoticias.com/userfiles/2020/May_12/147.jpg" alt="Placeholder">
          <img class="challenges__item" src="https://www.ecoticias.com/userfiles/2020/May_12/147.jpg" alt="Placeholder">
          <img class="challenges__item" src="https://www.ecoticias.com/userfiles/2020/May_12/147.jpg" alt="Placeholder">
          <img class="challenges__item" src="https://www.ecoticias.com/userfiles/2020/May_12/147.jpg" alt="Placeholder">
          <img class="challenges__item" src="https://www.ecoticias.com/userfiles/2020/May_12/147.jpg" alt="Placeholder">
        </div>
      </section>
      <div class="challenges__suggest">
        <p class="challenges__paragraph">¿No encuentras lo que buscabas?</p>
        <button class="challenges__button">Sugerir un reto</button>
      </div>
    </section>
  </body>
</html>
