<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evidence</title>
    <link rel="stylesheet" href="/dist/styles/styles.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body>
    <main class="main">
        <h2 class="main__title">Subir la evidencia</h2> 
        <h3 class="main__subtitle">Nombre reto</h3>
        <figure class="figure">
            <img class="figure__image" src="https://via.placeholder.com/360x380" alt="Placeholder">
            <div class="figure__details">
                <button type="submit" class="figure__img-button button--repeat"><i class="fas fa-redo"></i></button>
                <button type="submit" class="figure__img-button"><i class="fas fa-times"></i></button>
            </div>
        </figure>
        <button type="submit" class="main__button">
            <span class="main__button-text"></span>
            <i class="fas fa-camera"></i>
            <!-- <i class="fas fa-image"></i> -->
        </button>
    </main>
</body>
</html>
