<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/sass/styles.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="head-footer-content">
            <h3>Redes</h3>
            <p>Politicas de privacidad y tratamiento de datos personales</p>
            
        </div>
        <span class="Ame-footer">Amecity</span>
        <span>Colombia - 2021 (C)</span>
    </footer>
</body>
</html>