<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boto vincula tu marca</title>
    <link rel="stylesheet" href="../../dist/styles/styles.css">
</head>
<body>
    <header class="headerBotonVinculaMa">
        <h1 class="titulo">
            ¡Haz parte!
        </h1>
        <div class="logoArbol">
            <img
             src="../img/arbol.png"
             alt="Photo"
             class="im-Arbol"
             /> 
        </div>
    </header>
    <section class="descripcionPag">
        <p class="descripcion">
            Podrás ahshdlkh dhdfbndj
        </p>
        <p class="descripcion">
            Beneficios ashagsgagdjhs
        </p>
    </section>
    <section class="formularioProYAli">
        <div class="selectParticipacion">
            <p class="descripcion">Como: </p>
            <div class="select"> 
                <input type="radio" id="cboxP" value="proveedor" name="select" >
                <label for="radioP" class="descripcion">Proveedor</label>
                <input type="radio" id="radioA" value="aliado" name="select"> 
                <label for="radioA" class="descripcion">Aliado</label>
            </div>
        </div>
        <input type="text" class="cajaFormularioP" placeholder="Nombre" required>
        <input type="email" placeholder="Correo" class="cajaFormularioP">
        <input type="number" placeholder="Teléfono de contacto" class="cajaFormularioP" required>
        <input type="text" placeholder=" Cuéntanos cómo quieres ayudar/pertenecer/..." class="cajaFormularioG">
        <div class="checkbox"> 
            <input type="checkbox" id="cbox" value="checkbox">
            <label for="cbox" class="terminosCondiciones">Acepto los <a href="#"> Terminos y Condiciones</a></label>  
        </div> 
        <input type="submit" value="Quiero vincular mi marca" class="enviarFormulario">

        
    </section>
    <footer class="footerBotonVinculaMa">
        <h2 class=titulo>Redes</h2>
        <p class="descripcionP">Políticas de privacidad de tratamiento de datos personales</p>
        <h3 class="subtitulo">Amécity</h3>
        <p class="ciudadAño"> Colombia-2021[C]</p>
    </footer>
    
</body>
</html>