<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla Inicio</title>
    <link rel="stylesheet" href="../../dist/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
</head>
<body>
    <header class="headerPantallaInicio">
        <div class="logo">
          <img
            src="../img/arbol.png"
            alt="arbol"
            class="im-Arbol"
          />
        </div>
        <h1 class="titulo">
            Amécity
        </h1>
        <nav class="menu">
          <div class="itemsDesplegables">
            <input type="checkbox" class="menuDesplegable" id="menu" />
            <label for="menu" class="menuLabel">
              <i class="fas fa-recycle reciclaje"></i>
              <i class="fas fa-bars bars"></i>
            </label>
            <div class="items">
              <a href="#" class="links"> Inicio </a>
              <a href="#" class="links"> Quienes somos </a>
              <a href="#" class="links"> !Haz parte! </a>
              <a href="#" class="links"> ¿Por qué hacer parte? </a>
              <a href="#" class="links"> Conoce nuestro blog </a>
              <a href="#" class="links"> Iniciar sesión </a>
            </div>
          </div>
        </nav>
    </header>
    <section class="contenedorSlider">
        <ul class="slider">
            <li id="slideQuienes" class="quienesSomos">
                <p class="descripcion">
                    skadhskufhdsifhsdil
                </p>
                <p class="descripcionB">
                    ¿QUIÈNES SOMOS?
                </p>
            </li>
            <li id="slidePro" class="verProveedores">
                <p class="descripcion">
                    skadhskufhdsifhsdil
                </p>
                <p class="descripcionB">
                    VER PROVEEDORES
                </p>
            </li>
            <li id="slideAli" class="verAliados">
                <p class="descripcion">
                    skadhskufhdsifhsdil
                </p>
                <p class="descripcionB">
                    VER ALIADOS
                </p>
            </li>
            <li id="slideBlog" class="verBlog">
                <p class="descripcion">
                    skadhskufhdsifhsdil
                </p>
                <p class="descripcionB">
                    VER BLOG
                </p>
            </li>
        </ul>
        <ul class="menu">
            <li class="contenedor">
                <a class="contenedorQ" href="#slideQuienes"></a>
            </li>
            <li class="contenedor">
                <a class="contenedorP" href="#slidePro"></a>
            </li>
            <li class="contenedor">
                <a class="contenedorA" href="#slideAli"></a>
            </li>
            <li class="contenedor">
                <a class="contenedorB" href="#slideBlog"></a>
            </li>
        </ul>

    </section>
    <section class="hazParte">
        <h2 class="titulo">
            ¡HAZ PARTE!
        </h2>
        <section class="cartasHazP">
            <section class="contenedor cartaJugador">
                <section class="carta">
                    <section class="frente">
                        <h3 class="subTitulo"> 
                            COMO JUGADOR
                        </h3>
                        <i class="fas fa-hand-holding-heart mano"></i>
                        <a href="#" role="button" class="botonCrear">CREA TU CUENTA</a>
                    </section>
                    <section class="atras"> 
                        <p class="descripcion">
                            Como jugador podras 
                            jdhdfjdkdkdkld sksjhhd
                        </p>
                    </section>
                </section>
    
            </section>
            <section class="contenedor aliadoCarta">
                <section class="carta ">
                    <section class="frente">
                        <h3 class="subTitulo"> 
                            COMO ALIADO
                        </h3>
                        <i class="fas fa-hand-holding-heart mano"></i>
                        <a href="#" role="button" class="botonCrear">VINCULA TU MARCA</a>
                    </section>
                    <section class="atras"> 
                        <p class="descripcion">
                            Como aliado podras 
                            jdhdfjdkdkdkld sksjhhd
                        </p>
                    </section>
                </section>
    
            </section>
            <section class="contenedor proveedorCarta">
                <section class="carta ">
                    <section class="frente">
                        <h3 class="subTitulo"> 
                            COMO PROVEEDOR
                        </h3>
                        <i class="fas fa-hand-holding-heart mano"></i>
                        <a href="#" role="button" class="botonCrear">VINCULA TU MARCA</a>
                    </section>
                    <section class="atras"> 
                        <p class="descripcion">
                            Como proveedor podras 
                            jdhdfjdkdkdkld sksjhhd
                        </p>
                    </section>
                </section>
            </section>
        </section>

    </section>
    <section class="pHacerParte">
        <h2 class="titulo">¿POR QUÈ HACER PARTE?</h2>
        <ul class="slider">
            <li id="slideAm" class="impactoAm">
                <p class="descripcion">
                    IMPACTO
                </p>
                <p class="descripcionB">
                    Reducciòn de emisiones contaminantes.
                </p>
            </li>
            <li id="slideSo" class="impactoSo">
                <p class="descripcion">
                   IMPACTO
                </p>
                <p class="descripcionB">
                    Algo
                </p>
            </li>
            <li id="slideMe" class="impactoMe">
                <p class="descripcion">
                    IMPACTO
                </p>
                <p class="descripcionB">
                    Reducciòn de emisiones contaminantes.
                </p>
            </li>
            <li id="slideGlo" class="impactoGlo">
                <p class="descripcion">
                    IMPACTO
                </p>
                <p class="descripcionB">
                    Algo
                </p>
            </li>
        </ul>
        <ul class="menu">
            <li class="contenedor">
                <a class="contenedorAm" href="#slideAm"></a>
            </li>
            <li class="contenedor">
                <a class="contenedorSo" href="#slideSo"></a>
            </li>
            <li class="contenedor">
                <a class="contenedorMe" href="#slideMe"></a>
            </li>
            <li class="contenedor">
                <a class="contenedorGlo" href="#slideGlo"></a>
            </li>
        </ul>

    </section>
</body>
</html>