<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla Inicio</title>
    <link rel="stylesheet" href="../../dist/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
</head>
<body>
    <header class="header-home-screen-app">
        <div class="logo">
          <img
            src="../img/arbol.png"
            alt="arbol"
            class="im-tree"
          />
        </div>
        <h1 class="title">
            Amécity
        </h1>
        <nav class="menu">
          <div class="drop-down-items">
            <input type="checkbox" class="drop-down-menu" id="menu" />
            <label for="menu" class="menu-label">
              <i class="fas fa-recycle reciclaje"></i>
              <i class="fas fa-bars bars"></i>
            </label>
            <div class="items">
              <a href="#" class="links"> Inicio </a>
              <a href="#" class="links"> Quienes somos </a>
              <a href="#" class="links"> !Haz parte! </a>
              <a href="#" class="links"> ¿Por qué hacer parte? </a>
              <a href="#" class="links"> Conoce nuestro blog </a>
              <a href="#" class="links"> Iniciar sesión </a>
            </div>
          </div>
        </nav>
    </header>
    <section class="container-slider-app">
        <ul class="slider">
            <li id="slide-who" class="about-us">
                <p class="description">
                    skadhskufhdsifhsdil
                </p>
                <p class="description-B">
                    ¿QUIÈNES SOMOS?
                </p>
            </li>
            <li id="slide-pro" class="see-Prov">
                <p class="descripcion">
                    skadhskufhdsifhsdil
                </p>
                <p class="description-B">
                    VER PROVEEDORES
                </p>
            </li>
            <li id="slide-ali" class="see-ali">
                <p class="description">
                    skadhskufhdsifhsdil
                </p>
                <p class="description-B">
                    VER ALIADOS
                </p>
            </li>
            <li id="slide-blog" class="see-blog">
                <p class="description">
                    skadhskufhdsifhsdil
                </p>
                <p class="description-B">
                    VER BLOG
                </p>
            </li>
        </ul>
        <ul class="menu">
            <li class="container">
                <a class="container-Q" href="#slide-who"></a>
            </li>
            <li class="contenedor">
                <a class="container-P" href="#slide-pro"></a>
            </li>
            <li class="contenedor">
                <a class="container-A" href="#slide-ali"></a>
            </li>
            <li class="contenedor">
                <a class="container-B" href="#slide-blog"></a>
            </li>
        </ul>

    </section>
    <section class="join-app">
        <h2 class="title">
            ¡HAZ PARTE!
        </h2>
        <section class="cards-join">
            <section class="contenedor card-player">
                <section class="card">
                    <section class="front">
                        <h3 class="subtitle"> 
                            COMO JUGADOR
                        </h3>
                        <i class="fas fa-hand-holding-heart hand"></i>
                        <a href="#" role="button" class="create-button">CREA TU CUENTA</a>
                    </section>
                    <section class="behind"> 
                        <p class="description">
                            Como jugador podras 
                            jdhdfjdkdkdkld sksjhhd
                        </p>
                    </section>
                </section>
    
            </section>
            <section class="container ally-card">
                <section class="card ">
                    <section class="front">
                        <h3 class="subtitle"> 
                            COMO ALIADO
                        </h3>
                        <i class="fas fa-hand-holding-heart hand"></i>
                        <a href="#" role="button" class="create-button">VINCULA TU MARCA</a>
                    </section>
                    <section class="behind"> 
                        <p class="description">
                            Como aliado podras 
                            jdhdfjdkdkdkld sksjhhd
                        </p>
                    </section>
                </section>
    
            </section>
            <section class="container supplier-card">
                <section class="card ">
                    <section class="front">
                        <h3 class="subtitle"> 
                            COMO PROVEEDOR
                        </h3>
                        <i class="fas fa-hand-holding-heart hand"></i>
                        <a href="#" role="button" class="create-button">VINCULA TU MARCA</a>
                    </section>
                    <section class="behind"> 
                        <p class="description">
                            Como proveedor podras 
                            jdhdfjdkdkdkld sksjhhd
                        </p>
                    </section>
                </section>
            </section>
        </section>

    </section>
    <section class="p-join">
        <h2 class="title">¿POR QUÈ HACER PARTE?</h2>
        <ul class="slider">
            <li id="slide-Am" class="impact-Am">
                <p class="description">
                    IMPACTO
                </p>
                <p class="description-B">
                    Reducciòn de emisiones contaminantes.
                </p>
            </li>
            <li id="slide-So" class="impact-So">
                <p class="description">
                   IMPACTO
                </p>
                <p class="description-B">
                    Algo
                </p>
            </li>
            <li id="slide-Me" class="impact-Me">
                <p class="description">
                    IMPACTO
                </p>
                <p class="descripcionB">
                    Reducciòn de emisiones contaminantes.
                </p>
            </li>
            <li id="slide-Glo" class="impact-Glo">
                <p class="description">
                    IMPACTO
                </p>
                <p class="description-B">
                    Algo
                </p>
            </li>
        </ul>
        <ul class="menu">
            <li class="container">
                <a class="container-Am" href="#slide-Am"></a>
            </li>
            <li class="container">
                <a class="container-So" href="#slide-So"></a>
            </li>
            <li class="container">
                <a class="container-Me" href="#slide-Me"></a>
            </li>
            <li class="container">
                <a class="container-Glo" href="#slide-Glo"></a>
            </li>
        </ul>

    </section>
</body>
</html>