<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla Inicio</title>
    <link rel="stylesheet" href="../../dist/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
</head>
<body>
    <header class="headerPantallaQuienes">
      <h1 class="titulo">
        Quienes somos
      </h1>
      <div class="logo">
        <img
            src="../img/arbol.png"
            alt="arbol"
            class="im-Arbol"
          />
      </div>
      <nav class="menu">
       <div class="itemsDesplegables">
         <input type="checkbox" class="menuDesplegable" id="menu" />
          <label for="menu" class="menuLabel">
            <i class="fas fa-recycle reciclaje"></i>
            <i class="fas fa-bars bars"></i>
          </label>
          <div class="items">
              <a href="#" class="links"> Inicio </a>
              <a href="#" class="links"> Quienes somos </a>
              <a href="#" class="links"> !Haz parte! </a>
              <a href="#" class="links"> ¿Por qué hacer parte? </a>
              <a href="#" class="links"> Conoce nuestro blog </a>
              <a href="#" class="links"> Iniciar sesión </a>
          </div>
          </div>
        </nav>
    </header>
    <section class="descripcionMain">
      <h2 class="titulo">
        Amècity
      </h2>
      <h3 class="subTitulo">
        Origen
      </h3>
      <h3 class="subTitulo">
        Misiòn
      </h3>
      <h3 class="subTitulo">
        Visiòn
      </h3>
      <h3 class="subTitulo">
        Miembros
      </h3>
    </section>
    <footer class="footerPantaQuienes">
      <h2 class=titulo>Redes</h2>
      <p class="descripcionP">Políticas de privacidad de tratamiento de datos personales</p>
      <h3 class="subtitulo">Amécity</h3>
      <p class="ciudadAño"> Colombia-2021[C]</p>
    </footer>