<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../dist/styles/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ropa+Sans&display=swap" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <section class="partners-app">
      <h1 class="partners-app__title">Redime tus puntos</h1>
      <div class="partners-app__location-container">
        <p class="partners-app__location-paragraph">Estás buscando en</p>
        <select class="partners-app__location">
          <option class="partners-app__city">Bogotá</option>
          <option class="partners-app__city">Neiva</option>
        </select>
      </div>

      <div class="partners-app__filters-container">
        <div class="partners-app__organize">
          <div class="partners-app__organize-container">
            <p class="partners-app__organize-text">Ordenar</p>
          </div>
          <span class="partners-app__sort"></span>
        </div>
        <div class="partners-app__filter">
          <div class="partners-app__filter-container">
            <p class="partners-app__filter-text">Filtrar</p>
          </div>
          <span class="partners-app__sort"></span>
        </div>
      </div>

      <div class="partners-app__partners-container">
        <div class="partners-app__partner">
          <p class="partners-app__partner-label">Lorem ipsum</p>
          <img class="partners-app__partner-photo" src="https://cdn.pixabay.com/photo/2015/11/26/22/28/woman-1064664_960_720.jpg" alt="Placeholder" />
        </div>
        <div class="partners-app__partner">
          <p class="partners-app__partner-label">Lorem ipsum</p>
          <img
            class="partners-app__partner-photo"
            src="https://cdn.pixabay.com/photo/2015/01/09/11/22/fitness-594143_960_720.jpg"
            alt="Placeholder"
          />
        </div>
        <div class="partners-app__partner">
          <p class="partners-app__partner-label">Lorem ipsum</p>
          <img class="partners-app__partner-photo" src="https://cdn.pixabay.com/photo/2016/10/22/20/34/wine-1761613_960_720.jpg" alt="Placeholder" />
        </div>
        <div class="partners-app__partner">
          <p class="partners-app__partner-label">Lorem ipsum</p>
          <img
            class="partners-app__partner-photo"
            src="https://cdn.pixabay.com/photo/2021/02/03/18/15/barber-5978819_960_720.jpg"
            alt="Placeholder"
          />
        </div>
        <div class="partners-app__partner">
          <p class="partners-app__partner-label">Lorem ipsum</p>
          <img
            class="partners-app__partner-photo"
            src="https://cdn.pixabay.com/photo/2017/08/29/12/17/hairdressing-salon-2693077_960_720.jpg"
            alt="Placeholder"
          />
        </div>
        <div class="partners-app__partner">
          <p class="partners-app__partner-label">Lorem ipsum</p>
          <img
            class="partners-app__partner-photo"
            src="https://cdn.pixabay.com/photo/2015/09/21/14/24/supermarket-949913_960_720.jpg"
            alt="Placeholder"
          />
        </div>
        <div class="partners-app__partner">
          <p class="partners-app__partner-label">Lorem ipsum</p>
          <img
            class="partners-app__partner-photo"
            src="https://cdn.pixabay.com/photo/2014/09/17/20/26/restaurant-449952_960_720.jpg"
            alt="Placeholder"
          />
        </div>
        <div class="partners-app__partner">
          <p class="partners-app__partner-label">Lorem ipsum</p>
          <img
            class="partners-app__partner-photo"
            src="https://cdn.pixabay.com/photo/2016/11/18/14/05/brick-wall-1834784_960_720.jpg"
            alt="Placeholder"
          />
        </div>
      </div>
    </section>
  </body>
</html>
