<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boto vincula tu marca</title>
    <link rel="stylesheet" href="../../dist/styles/styles.css">
</head>
<body>
    <header class="header-button-link-your-brand">
        <h1 class="title">
            ¡Haz parte!
        </h1>
        <div class="logo-tree">
            <img
             src="../img/arbol.png"
             alt="Photo"
             class="im-tree"
             /> 
        </div>
    </header>
    <section class="description-pag">
        <p class="description">
            Podrás ahshdlkh dhdfbndj
        </p>
        <p class="description">
            Beneficios ashagsgagdjhs
        </p>
    </section>
    <section class="form-supplier-ally">
        <div class="select-participation">
            <p class="description">Como: </p>
            <div class="select"> 
                <input type="radio" id="radio-supplier" value="supplier" name="select" >
                <label for="radio-supplier" class="description">Proveedor</label>
                <input type="radio" id="radio-ally" value="ally" name="select"> 
                <label for="radio-ally" class="description">Aliado</label>
            </div>
        </div>
        <input type="text" class="form-box-supplier" placeholder="Nombre" required>
        <input type="email" placeholder="Correo" class="form-box-supplier">
        <input type="number" placeholder="Teléfono de contacto" class="form-box-supplier" required>
        <input type="text" placeholder=" Cuéntanos cómo quieres ayudar/pertenecer/..." class="form-box-G">
        <div class="checkbox"> 
            <input type="checkbox" id="cbox" value="checkbox">
            <label for="cbox" class="terms-conditions">Acepto los <a href="#"> Terminos y Condiciones</a></label>  
        </div> 
        <input type="submit" value="Quiero vincular mi marca" class="send-form">

        
    </section>
    <footer class="footer-button-link-your-brand">
        <h2 class=title>Redes</h2>
        <p class="description-P">Políticas de privacidad de tratamiento de datos personales</p>
        <h3 class="subtitle">Amécity</h3>
        <p class="city-year"> Colombia-2021[C]</p>
    </footer>
    
</body>
</html>