<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../dist/styles/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ropa+Sans&display=swap" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <section class="post">
      <div class="post__cover">
        <h1 class="post__title">Title</h1>
        <div class="post__text">
          <p class="post__author">Autor: XXXXX</p>
          <p class="post__date">Fecha: XXXX</p>
        </div>
      </div>
      <div class="post__information">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum, consectetur sit? Eos a dolores, beatae hic nisi distinctio velit sint totam
          mollitia natus. Eaque modi provident repudiandae cupiditate deserunt doloribus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Optio non numquam dolore deserunt. Perspiciatis iusto itaque quasi minus, vel illum earum error eum? Veniam officiis quisquam quibusdam enim
          a ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor natus dolorem odit beatae fuga labore illum alias harum, quasi quis
          sequi assumenda tempore ab ea nulla culpa. Non, cumque ducimus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio vero dicta
          mollitia cumque cum beatae? Dolor cumque ad vel sapiente omnis eaque dolorum fugiat blanditiis esse eius, doloribus optio. Repellendus?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate aperiam at alias mollitia ipsum exercitationem labore! Voluptatem sequi
          vitae veniam minus. Quae perspiciatis neque libero itaque, quo unde hic. Doloremque!
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum, consectetur sit? Eos a dolores, beatae hic nisi distinctio velit sint totam
          mollitia natus. Eaque modi provident repudiandae cupiditate deserunt doloribus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Optio non numquam dolore deserunt. Perspiciatis iusto itaque quasi minus, vel illum earum error eum? Veniam officiis quisquam quibusdam enim
          a ut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor natus dolorem odit beatae fuga labore illum alias harum, quasi quis
          sequi assumenda tempore ab ea nulla culpa. Non, cumque ducimus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio vero dicta
          mollitia cumque cum beatae? Dolor cumque ad vel sapiente omnis eaque dolorum fugiat blanditiis esse eius, doloribus optio. Repellendus?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate aperiam at alias mollitia ipsum exercitationem labore! Voluptatem sequi
          vitae veniam minus. Quae perspiciatis neque libero itaque, quo unde hic. Doloremque!
        </p>
      </div>
    </section>
  </body>
</html>
