<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../dist/styles/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ropa+Sans&display=swap" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <section class="post">
      <div class="post__cover">
        <h1 class="post__title">uenfuwef ewfeeuwfb</h1>
        <div class="post__text">
          <p class="post__author">Autor: XXXXX</p>
          <p class="post__date">Fecha: XXXX</p>
        </div>
      </div>
      <div class="post__information">
        <p>urfuefuervevuefbeufbefuerfuberfu</p>
        <p>
          jnerfunreuenvuenvubvyerbuernurv rvuerbfur fuer fuer ferfuebferuf eruf eruf ryu feruf erhf eruf erfh erf eryf eryfer yfer fyer ffyerbfyef
        </p>
      </div>
    </section>
  </body>
</html>
