<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugerir un reto</title>
    <link rel="stylesheet" href="../../dist/styles/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap" rel="stylesheet">
</head>
<body class="form-body">
    <header class="form-header">
        <h1 class="form-header__title">Sugerir un reto</h1>
        <div class="form-header__logo"></div>
    </header>
    <main class="form-main">
        <p class="form-main__text">Queremos tener en cuenta tu opinión. Es por ello que destinamos este espacio para que nos des nuevas ideas, así que, por favor danos una sugerencia de un reto que te gustaría ver en la aplicación. <br> <span>¡Gracias por tu aporte!</span></p>
        <form class="form-main__form" action="https://formspree.io/f/xwkaejlg" method="post">
            <input class="form-main__form-input" type="text" name="user" id="user" placeholder="Nombre de usuario">
            <textarea class="form-main__form-text-area" name="idea-text-form" id="idea-text-form" cols="30" rows="10" placeholder="Cuéntanos tu idea"></textarea>
            <button class="form-main__button" type="submit">Quiero sugerir un reto</button>
        </form>
        
    </main>
</body>
</html>