.Overlay {
    background-color: $black,.3;
    visibility: hidden;
}

.Pop-Up {
    width: 50%;
    height: auto;
    background-color: $white;
    justify-content: center;
    border-radius: 20px;
    padding: 5px;
}



.active {
    visibility: visible;
}